name: Build Test

on:
  workflow_dispatch:
    inputs:
      tag:
        description: '要构建的版本号（需要先设置对应tag）'
        required: true
        default: '1.0.0'
#  push:
#    branches: [ main ]
#  pull_request:
#    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.inputs.tag }}

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 11

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build
        env:
          VERSION: ${{ github.event.inputs.tag }}
        run: ./gradlew build dist

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist-files-${{ github.event.inputs.tag }}
          path: build/dist/
